In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [48]:
n_values = [30, 50, 100, 200, 300, 500, 
            1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 90000,
            10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000,
            ]

rk_dataframes = [pd.read_csv(f'imgs/rk_out/out_rk_{n}.csv') for n in n_values]
euler_dataframes = [pd.read_csv(f'imgs/implicit_euler_out/out_imp_euler_{n}.csv') for n in n_values]

In [50]:
def generate_table(dataframes):
    table = []
    for i, df in enumerate(dataframes):
        t, V, m, h, n = df['0'], df['1'], df['2'], df['3'], df['4']
        n_size = n_values[i]
        
        V_last, m_last, h_last, n_last = V.iloc[-1], m.iloc[-1], h.iloc[-1], n.iloc[-1], 
        table.append([n_size, V_last, m_last, h_last, n_last])
    
    return table

In [51]:
rk_convergence_table = pd.DataFrame(generate_table(rk_dataframes))
euler_convergence_table = pd.DataFrame(generate_table(euler_dataframes))

rk_convergence_table.to_csv('euler_conv_table.csv')
euler_convergence_table.to_csv('rk_conv_table.csv')

In [41]:
rk_df = pd.read_csv('temp/rk_conv_table.csv')
euler_df = pd.read_csv('temp/euler_conv_table.csv')

rk_df = rk_df.dropna()
euler_df = euler_df.dropna()

In [42]:
rk_df

    Unnamed: 0       0         1         2         3         4
5            5     500 -0.103208  0.052297  0.594663  0.318153
6            6    1000 -0.098300  0.052329  0.594671  0.318153
7            7    2000 -0.095928  0.052344  0.594676  0.318153
8            8    3000 -0.095150  0.052349  0.594677  0.318153
9            9    4000 -0.094763  0.052352  0.594678  0.318152
10          10    5000 -0.094531  0.052353  0.594679  0.318152
11          11    6000 -0.094377  0.052354  0.594679  0.318152
12          12    7000 -0.094267  0.052355  0.594679  0.318152
13          13    8000 -0.094185  0.052355  0.594679  0.318152
14          14   90000 -0.093662  0.052359  0.594681  0.318152
15          15   10000 -0.094070  0.052356  0.594680  0.318152
16          16   20000 -0.093840  0.052358  0.594680  0.318152
17          17   30000 -0.093763  0.052358  0.594680  0.318152
18          18   40000 -0.093725  0.052358  0.594681  0.318152
19          19   50000 -0.093703  0.052358  0.594681  0.318152
20          20   60000 -0.093687  0.052359  0.594681  0.318152
21          21   70000 -0.093676  0.052359  0.594681  0.318152
22          22   80000 -0.093668  0.052359  0.594681  0.318152
23          23   90000 -0.093662  0.052359  0.594681  0.318152
24          24  100000 -0.093657  0.052359  0.594681  0.318152

In [43]:
euler_df

    Unnamed: 0       0         1         2         3         4
5            5     500 -0.103208  0.052297  0.594663  0.318153
6            6    1000 -0.098300  0.052329  0.594671  0.318153
7            7    2000 -0.095928  0.052344  0.594676  0.318153
8            8    3000 -0.095150  0.052349  0.594677  0.318153
9            9    4000 -0.094763  0.052352  0.594678  0.318152
10          10    5000 -0.094531  0.052353  0.594679  0.318152
11          11    6000 -0.094377  0.052354  0.594679  0.318152
12          12    7000 -0.094267  0.052355  0.594679  0.318152
13          13    8000 -0.094185  0.052355  0.594679  0.318152
14          14   90000 -0.093662  0.052359  0.594681  0.318152
15          15   10000 -0.094070  0.052356  0.594680  0.318152
16          16   20000 -0.093840  0.052358  0.594680  0.318152
17          17   30000 -0.093763  0.052358  0.594680  0.318152
18          18   40000 -0.093725  0.052358  0.594681  0.318152
19          19   50000 -0.093703  0.052358  0.594681  0.318152
20          20   60000 -0.093687  0.052359  0.594681  0.318152
21          21   70000 -0.093676  0.052359  0.594681  0.318152
22          22   80000 -0.093668  0.052359  0.594681  0.318152
23          23   90000 -0.093662  0.052359  0.594681  0.318152
24          24  100000 -0.093657  0.052359  0.594681  0.318152

In [44]:
rk_values = np.array(rk_df)
euler_values = np.array(euler_df)

In [47]:

values = rk_values

last = values[-1]

p_values = []

for i,x in enumerate(values[:-2]):
    diff_1 = values[i] - last
    diff_2 = values[i+1] - last
    r1 = np.divide(diff_1, diff_2)
    r1 = np.absolute(r1)
    r1 = np.log(r1)
    r2 = np.log(values[i+1][1]/values[i][1])
    
    p = (r1/r2)[2:]
    
    p_values.append(p)

P = pd.DataFrame(p_values)
P

           0         1         2         3
0   1.040691  1.042298  0.845251  0.102796
1   1.031380  1.032574  0.917775  0.610434
2   1.034905  1.036123  0.944536  0.699348
3   1.042876  1.044308  0.952281  0.697822
4   1.052316  1.054031  0.954358  0.678253
5   1.062530  1.064568  0.953960  0.653766
6   1.073271  1.075661  0.952266  0.628360
7   1.084429  1.087196  0.949817  0.603511
8   1.934106  2.068359  0.858349  0.339516
9   2.018657  2.166203  0.849512  0.316187
10  1.172454  1.178552  0.925537  0.469921
11  1.332173  1.345528  0.886566  0.347071
12  1.540069  1.565315  0.849743  0.275462
13  1.786130  1.564699  8.012315  1.282407
14  2.282533  2.695819 -8.024083 -1.094730
15  2.890005  3.063982  0.754686  0.170414
16  4.091128  4.514406  0.727469  0.151223
17  7.072769  8.753888  0.702131  0.135923

In [46]:

values = rk_values

p_values = []

for i,x in enumerate(values[:-2]):
    diff_1 = values[i] - values[i+1]
    diff_2 = values[i+1] - values[i+2]
    r1 = np.divide(diff_1, diff_2)
    r1 = np.absolute(r1)
    r1 = np.log(r1)
    r2 = np.log(values[i+1][1]/values[i][1])
    
    p = (r1/r2)[2:]
    
    p_values.append(p)

P = pd.DataFrame(p_values)
P

            0          1          2          3
0    1.049554   1.051536   0.759082  -2.223883
1    1.607065   1.608036   1.482705   1.093088
2    1.723705   1.724356   1.643683   1.453118
3    1.786340   1.786839   1.726054   1.596409
4    1.825671   1.826076   1.777029   1.678060
5    1.852718   1.853061   1.811858   1.731596
6    1.872477   1.872774   1.837216   1.769622
7  -13.852763 -13.851668 -13.981832 -14.218624
8    0.102635   0.102646   0.101289   0.098897
9   -0.261451  -0.261431  -0.263770  -0.267877
10   1.587185   1.587292   1.574615   1.552427
11   1.710936   1.711005   1.702869   1.688944
12   1.835982   2.285607  -5.001031 -10.621412
13   1.629321   0.328902   1.216095   0.217411
14   1.983552   2.865850  13.257647  23.314722
15   1.866864   1.866895   1.863327   1.857339
16   1.882613   1.882639   1.879493   1.874253
17   2.229671   5.009430 -20.808702 -35.035300